
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
body{ font-family: 'Noto Sans KR', sans-serif; color:#222; overflow-x: hidden;}
.wrap{width: 100%;}
header{ width: 100%; position: fixed; z-index: 20; border-bottom: 1px solid #c7c5c5;}
.header_inner{ width: 1500px; margin: 0 auto;  display: flex; justify-content: space-around; align-items: center; height: 100%;}
.header_inner .header_logo{content: ""; display: block; background: url(../img/logo.png) center center no-repeat; width: 180px; height: 60px;}
.header_inner .header_logo.active{background: url(../img/logo_c.png)center center no-repeat;}

/* hover */
header:hover{ background-color: #fff; border-bottom: 1px solid transparent;}
header:hover .header_inner nav > ul > li > a{ color: #666666;}
header:hover .header_inner nav ul li .six { color: #a3cb50;}
header:hover .header_inner .header_logo{background: url(../img/logo_c.png)center center no-repeat;}
.header_inner nav > ul > li:hover > a {border-bottom: 2px solid #a3cb50;}
.header_inner nav > ul li ul li a:hover{ color: #a3cb50;}

.header_inner nav{ z-index: 10; position: relative;}
.header_inner nav > ul{display: flex;text-align: center;}
.header_inner nav > ul> li{display: flex; flex-direction: column; align-items: center;}
.header_inner nav > ul> li > a{color: #fff; padding: 30px 50px; border-bottom: 2px solid transparent;  }
.header_inner nav ul li .six{color: #a3cb50;}
.header_inner nav > ul li ul{position: absolute; top: 79px; display: none;}
.header_inner nav > ul li ul li a{padding: 20px 0; display: block;}
.header_inner .header_language{ display: block;display: flex;gap: 20px; font-weight: 400;}
.header_inner .header_language .en{ color: #7e7d7d;}
.header_inner .header_language .ko{color: #fff;}
header:hover .header_inner .header_language .ko{ color:#222;}
header.bg .header_inner nav > ul > li > .six{ color:#a3cb50;}
header.bg { background:#fff; transition: all 1s;}  
header.bg .header_inner nav > ul > li > a { color:#000;}
header.bg .header_inner .header_language .ko{ color:#222;}
header .sub_bg{width: 100%; background-color: #fff; position: absolute; top:78px; height: 280px; font-weight: bold; display: none;}

.myswiper { position: relative; width: 100%;}
.myswiper .swiper-slide { height: 830px; text-align: center; display: flex; justify-content: center; align-items: center;}
.myswiper .swiper-slide.bg1{background: url(../img/main-slide02.jpg) center center no-repeat ; background-size: cover;}
.myswiper .swiper-slide.bg2{background: url(../img/main-slide01.jpg)center center no-repeat ;background-size: cover;}
.myswiper .swiper-slide.bg3{background: url(../img/main-slide04.jpg)center center no-repeat ;background-size: cover;}
.myswiper .swiper-slide .slide-text  {
  /* 투명한 상태로 시작 */
  color:#fff;
}
.myswiper  .swiper-slide.active .slide-text {
  animation: text 2s ease-in;
}
@keyframes text {
  0% { opacity: 0; }
  100% { opacity: 1;}
}
.main{ position: relative;}
.myswiper .swiper-pagination{ position: absolute; top: 50%; display: flex; align-items: center; justify-content: center;}
.myswiper .swiper-pagination-bullets.swiper-pagination-horizontal{ bottom: inherit; top: 300px;}
.myswiper .swiper-pagination-bullet{ width: 5px; height: 5px; background: #fff; opacity:inherit;}
.myswiper .swiper-pagination-bullet-active{  width: 10px;  height:10px;  background-color: transparent; border: 2px solid #fff;}
.myswiper .swiper-slide .slide-text h2{ font-size: 50px; font-weight: 300; line-height: 160px;}
.myswiper .swiper-slide .slide-text h3{ font-size: 20px; font-weight: 300;}
.foot_box { position: absolute;  border-left: 1px solid #a3cb50; height: 80px; z-index: 10; bottom: 0%; left: 50%; display: flex; align-items: center; padding: 0 20px;}
.foot_box p{ color: #fff; font-size: 19px; font-weight: 400;}
.about{ width: 100%;}
.about .about_inner{ margin: 0 auto; width: 1200px; text-align: center; padding: 150px 0 40px;} 
.about_inner .top_01{ font-size: 40px; font-weight: 500; padding-bottom: 100px;}
.about_inner .top_02{
  padding-bottom: 30px;
}
.about_inner .top_02 h2{
  font-size: 20px;
  color: #a3cb50;
  line-height: 50px;
}
.about_inner .top_02 h1{
  font-size: 26px;
}
.about_inner .middle{
  position: relative;
  height: 180px;
  padding-bottom: 54px;
}
.about_inner .middle .middle_inner{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 130px;
  color: #e1e1e1;
  position: absolute;
  left: 50%;
  bottom: 35px;
  transform: translate(-50%);
}
.about_inner .middle .middle_inner.active{
  animation: middle 2s ease-in;
}
@keyframes middle{
  from{
    bottom: 10px;
    opacity: 0;
  }
  to{
    bottom: 35px;
    opacity: 1;
  }
}
.about_inner .bottom_01{
  padding-bottom: 100px;
}
.about_inner .bottom_01 h1{
  font-size: 16px;
  line-height: 50px;
}
.about_inner .bottom_01 span{
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
}
.bottom_02 a{
  color: #a2cb50;
  display: inline-block;
  padding: 20px 40px;
  font-size: 16px;
  border: 1px solid #eee;
  text-align: center;
  position: relative;
  transition: all .35s;
  margin: 0 auto;
  font-weight: 600;
}
.bottom_02 a span{
  position: relative;
  z-index: 2;
}
.bottom_02 a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #a2cb50;
  transition: all .35s;
}
.bottom_02 a:hover{
  color: #fff;
}
.bottom_02 a:hover:after{
  width: 100%;
}
.bottom_bg{
  background-image:url(../img/bg1.png);
  width: 100%;
  height: 150px;
}
.table{
  width: 100%;
  background-color:#f9f9f9;
}
.table_inner{
  width: 1269px;
  margin: 0 auto;
}
.table_inner .table_text{
  text-align: center;
  padding-bottom: 4vw;
}
.table_inner .table_text h1{ font-size: 40px;  font-weight: 600;  padding-bottom: 50px;}
.table_inner .table_text h2{
  font-size: 16px;
}
.table_inner .step ul {
  display: flex;
  border-radius: 30px;
  overflow: hidden;
  background-color: #fff;
  height: 400px;
  width: 100%;
}
.table_inner .step ul li{
  box-sizing: border-box;
  padding: 80px 30px;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.table_inner .step ul li .p_top{
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
  margin: 2vw 0; 
}
.table_inner .step ul li .p_top .ic02{
  display:none ;
}
.table_inner .step ul li span{
  font-size: 16px;
  color: #a2cb50;
}
.table_inner .step ul li b{
  font-size: 30px;
}
.table_inner .step ul li .p_bottom{
  font-size: 15px;
  line-height: 20px;
}
.table_inner .step ul li.active .p_top .ic02{
  display:block ;
}
.table_inner .step ul li.active .p_top .ic01{
  display:none ;
}
.table_inner .step ul .st01.active{
  background-image: url(../img/step_bg01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.table_inner .step ul li.active{
  color: #fff;
}
.table_inner .step ul li.active .p_top{
  border-bottom: 1px solid #fff;
}
.table_inner .step ul .st02.active{
  background-image: url(../img/step_bg02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.table_inner .step ul .st03.active{
  background-image: url(../img/step_bg03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.table_inner .step ul .st04.active{
  background-image: url(../img/step_bg04.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.step02{
  padding: 100px 0;
}
.step02 .step02_inner{
  display: flex;
  justify-content: space-between;
}
.step02 .step02_inner > div{width: 48%;}
.step02 .box{
  position: relative;
}
.step02 .box > p{
  display: inline-block;
  font-size: 20px;
  color: #fff;
  background: #06377a;
  padding: 17px 30px;
  border-radius: 30px;
  position: absolute;
  top: -12%;
  left: 50%;
  transform: translate(-50%);
}
.icon_box {
  background-color: #fff;
  border-radius: 30px;
}
.icon_box > ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 60px;
}
.from .icon_box{
  padding: 50px 50px;
}
.from .icon_box ul .center{
  border-radius: 50%;
  background-color: #a2cb50;
  width: 127px;
  height: 127px;
  text-align: center;
  position: relative;
}
.from .icon_box ul .center ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.from .icon_box ul .center::before{
  content: url(../img/li-arrow.png);
  font-size: 30px;
  position: absolute;
  left: -27%;
  top: 50%;
  transform: translate(0, -50%);
}
.from  .icon_box ul .center::after{
  content: url(../img/li-arrow.png);
  font-size: 30px;
  position: absolute;
  right: -27%;
  top: 50%;
  transform: translate(0, -50%);
}
.to .icon_box{
  padding: 50px 50px;
}
.to .icon_box ul{
  gap: 60px;
  height: 127px;
  text-align: center;
}
.to .icon_box ul p{
  padding-top: 0.4vw;
  font-size: 18px;
  color: #3f3f3f;
  font-weight: bold;
}
.to .icon_box ul .center::before{
  content: '';
  position: absolute;
  left: 36%;
  top: 43%;
  background: #d6d6d6;
  width: 1px;
  height: 30px;
}
.to .icon_box ul .center::after{
  content: '';
  position: absolute;
  right: 36%;
  top: 43%;
  background: #d6d6d6;
  width: 1px;
  height: 30px;
}
.product{width: 1920px; margin: 0 auto; }
.product .product_inner{padding: 100px 0 220px;}
.proswiper {width: 100%;}
.proswiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proswiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product_inner{
  position: relative;
  height: 100%;
  background-image: url(../img/main-product_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.product_inner h1{
  text-align: center;
  font-size: 40px;
  coloR: #333333;
  font-weight: 600;
  padding-bottom: 70px;
}
.proswiper{
  position: static;
}
.proswiper .swiper-slide{
  border-radius: 30px;
}
.product_inner .proswiper .swiper-pagination{
  position: absolute;
  bottom: 130px;
}
.proswiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  position: relative;
}
.p_text{
  position: absolute;
  width: 128px;
  right: -60px;
  top: 28px;
  font-weight: bold;
}
.swiper-pagination-bullet-active .p_text{
  color:#003679;
}
.pagination_line{
  position: absolute;
  width: 100%;
  height: 1px;
  background-color:#d6d6d6;
  bottom: 141px
}
.swiper-pagination-bullet{
  width: 10px;
  height: 10px;
  background-color:#d6d6d6 ;
  margin: inherit;

}.swiper-pagination-bullet:hover{
  color: #06377a;
  background-color: #00377a;
}
.proswiper .swiper-horizontal> .proswiper .swiper-pagination-bullets .swiper-pagination-bullet, 
.proswiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  margin: inherit;
  opacity: inherit;
  margin: 0 60px;
}
.proswiper .swiper-pagination-bullet-active{
  background-color: #06377a;
  text-align: center;
}
.proswiper .swiper-pagination-bullet span{
  padding-top: 30px;
  display: block;
}
.proswiper .swiper-pagination-bullet:first span{
  position: absolute;
  left: 20px;
}
.network_inner{
  margin: 0 auto;
  width: 1238px;
  text-align: center;
  padding: 100px 0;
}
.network_inner h1{
  font-size: 40px;
  coloR: #333333;
  font-weight: 600;
}
.network_inner h2{
  font-size: 16px;
  color: #666;
  padding: 100px 0;
}
.network_inner .map{
  position: relative;
}

@keyframes point_scale {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(98, 224, 249, 0);
  }
}

.network_inner .map .point{
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #003679;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  animation: point_scale 1.5s ease-in-out infinite;
}
.network_inner .map .point01{
  top: 19%;
  left: 10%;
}
.network_inner .map .point02{
  top: 23%;
  left: 13%;
}
.network_inner .map .point03{
  top: 25%;
  left: 10%;
}
.network_inner .map .point04{
  top: 22%;
  left: 8%;
}
.network_inner .map .point05{
  top: 28%;
  left: 3%;
}
.network_inner .map .point06{
  top: 31%;
  left: 2%;
}
.network_inner .map .point07{
  top: 41%;
  left: 3%;
}
.network_inner .map .point08{
  top: 19%;
  left: 12%;
}
.network_inner .map .point09{
  top: 25%;
  left: 10%;
}
.network_inner .map .point10{
  top: 33%;
  left: 7%;;
}
.network_inner .map .point11{
  top: 56%;
  left: 13%;
}
.network_inner .map .point12{
  top: 38%;
  left: 36%;
}
.network_inner .map .point13{
  bottom: 19%;
  left: 43%;
}
.network_inner .map .point14{
  bottom: 58%;
  right: 25%;
}
.network_inner .map .point15{
  bottom: 31%;
  right: 12%;
}
.more{
  padding-top: 100px;
}
.more a{
  color: #a2cb50;
  display: inline-block;
  padding: 20px 40px;
  font-size: 16px;
  border: 1px solid #eee;
  text-align: center;
  position: relative;
  transition: all .35s;
  margin: 0 auto;
  font-weight: 600;
}

.more a span{
  position: relative;
  z-index: 2;
}
.more a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #a2cb50;
  transition: all .35s;
}
.more a:hover{
  color: #fff;
}
.more a:hover:after{
  width: 100%;
}
.partners{
  background-image: url(../img/bg_02.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
}
.partners .partners_inner{
  width: 1240px;
  margin: 0 auto;
  padding: 100px 0;
}
.partners .partners_inner h1{font-size: 40px;
  coloR: #333333;
  font-weight: 600;
  text-align: center;
}
.partners .partners_inner .title{
  font-size: 16px;
  color: #a2cb50;
  float: right;
  padding-top: 1vw;
  font-weight: bold;
}
.partners .partners_inner .title::after{
  content: "+";
  color: #a2cb50;
  font-weight: bold;
}
.partab_title ul{
  display: flex;
  padding: 80px 0;
  width: 100%;
  justify-content: space-around;
}
.partab_title ul li{
  text-align: center;
  position: relative;
  cursor: pointer;
  }
.partab_title ul li p{
  padding-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
.partab_title ul li img{
  display:block;
  margin: 0 auto;
}
.partab_title ul li .icon2{
  display: none;
}
.partab_title ul li.active .icon2{
  display: block;
}
.partab_title ul li.active .icon1{
  display: none;
}
.partab_title ul li.active{
  color: #003679;
}
.par_slide{
  display: flex;
  gap:4vw;
  align-items: center;

}
.par_slide .par_img{
  width: 620px;
}
.par_slide .par_img > a{
  border-radius: 30px;
  overflow: hidden;
  display: block;
}
.par_slide .par_text .bottom_text{
  font-size: 16px;
  line-height: 30px;
  color: #888888;
}
.par_slide .par_text .mini_logo{
  padding-bottom: 30px;
}
.par_slide .par_text .top_text{
  padding-bottom: 30px;
}
.par_slide .par_text .top_text .ko{
  font-size: 18px;
  padding-bottom: 15px;
  color: #666666;
}
.par_slide .par_text .top_text .en{
  font-size: 40px;
}
.par_swiper{
  position: static;
} 
.par_swiper .swiper-button-next{
right: 14%;
top: 65%;
width: 39px;
height: 73px;
background-image:url(../img/slide-next.png);
background-position:center;
background-image: cover;
background-repeat: no-repeat;
}
.par_swiper .swiper-button-prev:after,
.par_swiper .swiper-button-next:after{
  content: "";
}
.par_swiper .swiper-button-prev{
  left: 14%;
  top: 65%;
  width: 39px;
height: 73px;
  background-image:url(../img/slide-prev.png);
  background-position:center;
  background-image: cover;
  background-repeat: no-repeat;
}
.communication{
  width: 100%;
}
.com_inner{
  width: 1240px;
  margin: 0 auto;
  padding: 100px 0;
}
.com_inner h1{
  text-align: center;
  font-size: 40px;
  color: #333333;
  font-weight: bold;
  padding-bottom: 100px;
}
.com_inner .com_text ul{
  display:flex;
  justify-content: space-between;
}
.com_inner .com_text ul li{
  width: 367px;
}
.com_inner .com_text ul li .a_top{
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}
.com_inner .com_text ul li .p_02{
  font-size:14px;
  color:#aaaaaa;
  line-height: 30px;
}
.com_inner .com_text ul li .p_03{
  font-size:14px;
  color: #999;
  line-height:20px;
}
.com_inner .com_text .more{
  text-align: center;
}
.instagram{
  width: 100%;
}
.insta_inner{
  width: 1240px;
  margin: 0 auto;
}
.insta_inner .insta_top{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 100px;
}
.insta_inner .insta_top h1{
  font-size: 40px;
  coloR: #333333;
  font-weight: bold;
}
.insta_inner .insta_top ul li{
  font-size: 14px;
  padding: 5px 0;
}
.insta_inner .insta_top ul li:first-child a{
  color: #00377a;
}
.insta_inner .insta_bottom > ul{
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
.insta_inner .insta_bottom > ul > li > a > img{
  width:197px ;
  height: 197px;
}
.insta_inner .insta_bottom > ul > li > a{
  position: relative; display: block;
}
.insta_inner .insta_bottom > ul > li:hover a ul{
  display: block;
  
}
.insta_inner .insta_bottom > ul li a ul{
  background: rgba(255, 254, 254, 0.6);
  text-align: center;
  width: 160px;
  padding:50px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  display: none;
}
.insta_inner .insta_bottom > ul li a ul li{
  color:#00377a;
}
footer{
  width: 100%;
}

.foot_top{  
  background-color: #252525;
}
.foot_top .foot_top_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  width: 1240px;
  margin: 0 auto;
}
.foot_top .foot_top_inner > ul {
  display: flex;
}
.foot_top .foot_top_inner .left_ul{
  gap:50px;
}
.foot_top .foot_top_inner .left_ul li a{
  font-size: 14px;
  color: #bdbdbd;
}
.foot_top .foot_top_inner .right select{
  padding: 20px;
  font-size: 15px;
  color: #bdbdbd;
  background-color: #252525;
  outline: none;
}
.foot_top .foot_top_inner .right select option{
  background-color: #fff;
  color: #252525;
  padding: 20px;
}
.foot_bottom{
  padding: 30px 0;
  display: flex;
  width: 1240px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
address{
  font-size: 14px;
  color: #a2a2a2;
  line-height: 40px;
}
.top{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;

  color: #fff;
  cursor: pointer;
  z-index: 500;
  border: 1px solid #a0a0a0;
  display: none;
}
.top p{
  font-size: 16px;
  font-weight: 600;
  color: #a0a0a0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.top.active{
  display: block;
}
